# Настройки бота
TELEGRAM_BOT_TOKEN=your_secret_here # Секрет телеграм бота, полученный через BotFather
TELEGRAM_INIT_TIMEOUT=30s # Таймаут первичной проверки подключения к Telegram
# HTTPS_PROXY=http://host.docker.internal:1080 # Прокси для доступа к Telegram при необходимости
DATABASE_DSN=host=localhost user=postgres password=postgres dbname=redbutton port=5432 sslmode=disable # Строка подключения к PostgreSQL
POSTGRES_USER=redbutton # Пользователь PostgreSQL для Docker Compose
POSTGRES_PASSWORD=change_me # Пароль PostgreSQL для Docker Compose
POSTGRES_DB=redbutton # Название базы данных для Docker Compose
TASK_START_DATE=2026-09-01T00:00:00 # Время начала работы бота в UTC+5
TASK_END_DATE=2026-09-07T00:00:00 # Время окончания работы бота в UTC+5
NOTIFICATION_INTERVAL=15s # Интервал проверки новых тасков
ADMIN_TELEGRAM_IDS=123456789,987654321 # Telegram ID администраторов через запятую

# Настройки тасков
TASKS_DIRECTORY=tasks # Директория с YAML-файлами тасков
TASK_EXPIRE=24h # Время жизни задания
